*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f5fdf5;
    color:#333;
}

.hero{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,.45),
    rgba(0,0,0,.45)),
    url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?w=1200");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.overlay h1{
    font-family:'Montserrat',sans-serif;
    font-size:4rem;
    color:white;
    animation:fadeDown 1.2s;
}

.overlay p{
    color:white;
    font-size:1.3rem;
    margin-top:15px;
}

.pesquisa{
    text-align:center;
    padding:60px 20px;
}

.pesquisa h2{
    color:#2e7d32;
    margin-bottom:20px;
}

.search-box{
    display:flex;
    justify-content:center;
    gap:10px;
    flex-wrap:wrap;
}

input{
    width:300px;
    padding:15px;
    border:none;
    border-radius:30px;
    box-shadow:0 0 10px rgba(0,0,0,.15);
    outline:none;
}

button{
    padding:15px 25px;
    border:none;
    border-radius:30px;
    background:#4caf50;
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
    background:#2e7d32;
}

.resultado{
    margin-top:25px;
    font-size:1.1rem;
    font-weight:500;
}

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    padding:40px;
}

.card{
    width:300px;
    background:white;
    border-radius:20px;
    padding:25px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,0,0,.1);
    transition:.4s;
    font-size:2rem;
}

.card h3{
    font-size:1.3rem;
    margin:15px 0;
    color:#2e7d32;
}

.card p{
    font-size:.95rem;
    font-weight:500;
}

.card:hover{
    transform:translateY(-10px);
}

.impacto{
    padding:60px 20px;
    text-align:center;
}

.barra{
    width:80%;
    max-width:700px;
    height:30px;
    margin:20px auto;
    background:#ddd;
    border-radius:50px;
    overflow:hidden;
}

.progresso{
    width:85%;
    height:100%;
    background:linear-gradient(90deg, #4caf50, #8bc34a);
    animation:crescer 2s ease;
}

footer{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:20px;
}

@keyframes crescer{
    from{
        width:0;
    }
    to{
        width:85%;
    }
}

@keyframes fadeDown{
    from{
        opacity:0;
        transform:translateY(-40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}